<a href="https://colab.research.google.com/github/MeGaNeKoS/My-Check-Point/blob/main/python%203/basic/02_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

A tuple is a collection of objects which is ordered and immutable.<br>
Tuples are similar to lists, the main difference ist the immutability.<br>
In Python tuples are written with round brackets and comma separated values.<br>

`my_tuple = ("Max", 28, "New York")`

#### Create a tuple

Tuples are created with round brackets and comma separated values. Or use the built-in tuple function.

In [1]:
tuple_1 = ("Max", 28, "New York")
tuple_2 = "Linda", 25, "Miami" # Parentheses are optional

# Special case: a tuple with only one element needs to have a comma at the end, 
# otherwise it is not recognized as tuple
tuple_3 = (25,)
print("tuple_1 >", tuple_1)
print("tuple_2 >", tuple_2)
print("tuple_3 >", tuple_3)

# Or convert an iterable (list, dict, string) with the built-in tuple function
tuple_4 = tuple([1,2,3])
print("tuple_4 >", tuple_4)

tuple_1 > ('Max', 28, 'New York')
tuple_2 > ('Linda', 25, 'Miami')
tuple_3 > (25,)
tuple_4 > (1, 2, 3)

#### Access elements
You access the tuple items by referring to the index number. Note that the indices start at 0.

In [2]:
item = tuple_1[0]
print("tuple_1[0]  >", item)
# Tuple support negative indexing.
# e.g -1 refers to the last item,
# -2 to the second last item, and so on
item = tuple_1[-1]
print("tuple_1[-1] >", item)

tuple_1[0]  > Max
tuple_1[-1] > New York

#### Add or change items 
Not possible and will raise a TypeError.

In [3]:
tuple_1[2] = "Boston"

TypeError: ignored

#### Delete a tuple
It will delete the variable from memory and return None

In [4]:
del tuple_2

#### Iterating

In [5]:
# Iterating over a tuple by using a for in loop
for i in tuple_1:
    print(i)

Max
28
New York

#### Check if an item exists

In [6]:
if "New York" in tuple_1:
    print("yes")
else:
    print("no")

yes

#### Usefule methods

In [7]:
my_tuple = ('a','p','p','l','e',)

# len() : get the number of elements in a tuple
print("Length:", len(my_tuple))

# count(x) : Return the number of items that is equal to x
print("Number of p:", my_tuple.count('p'))

# index(x) : Return index of first item that is equal to x
print("Number of l:", my_tuple.index('l'))

# repetition
my_tuple = ('a', 'b') * 5
print("Repetition", my_tuple)

# concatenation
my_tuple = (1,2,3) + (4,5,6)
print("Concat", my_tuple)

# convert list to a tuple and vice versa
my_list = ['a', 'b', 'c', 'd']
list_to_tuple = tuple(my_list)
print("List to tuple", list_to_tuple)

tuple_to_list = list(list_to_tuple)
print("Tuple to list", tuple_to_list)

# convert string to tuple
string_to_tuple = tuple('Hello')
print("String to tuple", string_to_tuple)

Length: 5
Number of p: 2
Number of l: 3
Repetition ('a', 'b', 'a', 'b', 'a', 'b', 'a', 'b', 'a', 'b')
Concat (1, 2, 3, 4, 5, 6)
List to tuple ('a', 'b', 'c', 'd')
Tuple to list ['a', 'b', 'c', 'd']
String to tuple ('H', 'e', 'l', 'l', 'o')

#### Slicing
Access sub parts of the tuple wih the use of colon (:), just as with strings.

In [8]:
# a[start:stop:step], default step is 1
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
b = a[1:3] # Note that the last index is not included
print("a[1:3]", b)
b = a[2:] # until the end
print("a[2]", b)
b = a[:3] # from beginning
print("a[:3]", b)
b = a[::2] # start to end with every second item
print("a[::2]", b)
b = a[::-1] # reverse tuple
print("a[::-1]", b)

a[1:3] (2, 3)
a[2] (3, 4, 5, 6, 7, 8, 9, 10)
a[:3] (1, 2, 3)
a[::2] (1, 3, 5, 7, 9)
a[::-1] (10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

#### Unpack tuple

In [9]:
# number of variables have to match number of tuple elements
tuple_1 = ("Max", 28, "New York")
name, age, city = tuple_1
print("name", name)
print("age", age)
print("city", city)

# tip: unpack multiple elements to a list with *
my_tuple = (0, 1, 2, 3, 4, 5)
item_first, *items_between, item_last = my_tuple
print("item_first", item_first)
print("items_between", items_between)
print("item_last", item_last)

name Max
age 28
city New York
item_first 0
items_between [1, 2, 3, 4]
item_last 5

#### Nested tuples
Tuples can contain other tuples (or other container types).

In [10]:
a = ((0, 1), ('age', 'height'))
print(a)
print(a[0])

((0, 1), ('age', 'height'))
(0, 1)

#### Compare tuple and list
The immutability of tuples enables Python to make internal optimizations.
Thus, tuples can be more efficient when working with large data.

In [11]:
# compare the size
import sys
my_list = [0, 1, 2, "hello", True]
my_tuple = (0, 1, 2, "hello", True)
print(sys.getsizeof(my_list), "bytes")
print(sys.getsizeof(my_tuple), "bytes")

# compare the execution time of a list vs. tuple creation statement
import timeit
print(timeit.timeit(stmt="[0, 1, 2, 3, 4, 5]", number=1000000))
print(timeit.timeit(stmt="(0, 1, 2, 3, 4, 5)", number=1000000))

112 bytes
96 bytes
0.08660132300008172
0.012775069000099393

#### Reasons to use a tuple over a list

- Generally used for objects that belong together.
- Use tuple for heterogeneous (different) data types and list for homogeneous (similar) data types.
- Since tuple are immutable, iterating through tuple is slightly faster than with list.
- Tuples with their immutable elements can be used as key for a dictionary. This is not possible with lists.
- If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.